doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        div.register-card-template
            div.register-card-header
                img(src='./images/fridaylogo.png')
                h1 Регистрационная карточка /Registration form
                h1 Заполнять чётко - Fill in carefully
            table.table
                tr
                    td(width='33%')
                        div.td-content Комната
                        div.flex-row
                            div.td-content Room №
                            div.td-content.max-width
                                div.line
                    td(width='33%')
                    td(width='34%')
            table.table
                each item in [{ en: 'Date of arrival', ru: 'Прибытие (дата, время)' }, { en: 'Date of departure', ru: 'Отъезд (дата, время)' }]
                    tr 
                        td(width='50%')
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                each item in [{ en: 'Surname', ru: 'Фамилия' }, { en: 'Second name', ru: 'Имя' }, { en: 'Second name', ru: 'Отчество' }]
                    tr
                        td(width="100%")
                            div.td-content= item.ru
                            div.flex-row 
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                tr
                    each item in [{ en: 'Date of birth', ru: 'Дата рождения' }, { en: 'Nationality', ru: 'Гражданство' }]
                        td(width="50%")
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            table.table
                each item in [{ en: 'Surname', ru: 'Паспорт или документ, удостоверяющий личность (когда и кем выдан)' }, { en: 'Telephone, e-mail', ru: 'Телефон, адрес электронной почты' }, { en: 'Purpose of visiting', ru: 'Цель поездки' }]
                    tr
                        td(width="100%")
                            div.td-content= item.ru
                            div.flex-row
                                div.td-content= item.en
                                div.td-content.max-width
                                    div.line
            div.conditions
                div.conditions-container.conditions-container-left
                    table
                        tr
                            td
                            td(width='100%')
                                div.title-p Я подтверждаю правильность звполнения регистрационной карты и гарантирую оплату по указанному тарифу. С кредитной политикой отеля ознакомлен.
                        tr
                            td
                            td(width='100%')
                                div.title-p Я ознакомлен с тем, что в стоимость проживания не включён завтрак и налоги. Все дополнительные услуги оплачиваются согласно прейскурантов отдельно.
                        tr
                            td
                            td(width='100%')
                                div.title-strong Я ознакомлен и согласен с правилами проживания:
                        tr
                            td
                                div.title-strong 1
                            td(width='100%')
                                div.title-p При поселении я должен внести на свой гостиничный счёт сумму в размере полной стоиости проживания на указанные даты проживания.
                        tr
                            td
                                div.title-strong 2
                            td(width='100%')
                                div.title-p По правилам отеля гость(-и) могут находиться в Вашем номере до 23:00.
                        tr
                            td
                                div.title-strong 3
                            td(width='100%')
                                div.title-p Администрация отеля не несёт ответственность за вещи, не сданные на ответственное хранение.
                        tr
                            td
                                div.title-strong 4
                            td(width='100%')
                                div.title-p В случае не выезда из номера после расчётного часа без согласованияс администрацией, администрация гостинницы имеет право осуществить выселение даже при моём физическом отсутствии.
                        tr
                            td
                                div.title-strong 5
                            td(width='100%')
                                div.title-p Ранний выезд возможен без начисления штрафа только при предварительном уведомлении администрации за 24 часа. При выезде из номера ранее указанной даты без уведомления, снимается размер суточного проживания "штрафные санкции".
                        tr
                            td
                                div.title-strong 6
                            td(width='100%')
                                div.title-p Администрацией запрещено проживание с животными.
                        tr
                            td
                                div.title-strong 7
                            td(width='100%')
                                div.title-p Курение в номере запрещено
                        tr
                            td
                            td(width='100%')
                                div.title-p Настоящим я даю согласен на обработку моих персональных данных исключительно с целью выполнения требований законодательством Украины. С правилами, обязательствами и требованиями законодательства об охране персональных данных ознакомлен.
                        tr
                            td
                            td(width='100%')
                                div.title-p Настоящим я подтверждаю, что был ознакомлен с правилами в отеле, а также с правилами противопожарной безопасности.
                div.conditions-container.conditions-container-right
                    table
                        tr
                            td
                            td(width='100%')
                                div.title-p I confirm that the registration card was filled out correctly, I have been informed with the hotel credit policy.
                        tr
                            td
                            td(width='100%')
                                div.title-p I am acquainted that the breakfast and taxes doesn`t included in the cost of accomodation. All additional services are paid separately according to the price-lists.
                        tr
                            td
                            td(width='100%')
                                div.title-strong I am acquainted and agree with accomodation rules.
                        tr
                            td.title-strong 1
                            td(width='100%')
                                div.title-p At the settlement i should grant into the hotel account the sum at a rate of an overall cost of accomodation for the specified dates. Otherwise i should change accomodation dates.
                        tr
                            td.title-strong 2
                            td(width='100%')
                                div.title-p In accordance with hotel rules a guest/guests have the right to stay in your room till 11:00pm.
                        tr
                            td.title-strong 3
                            td(width='100%')
                                div.title-p Hotel Administration are not in charge for the things which haven`t been stored in the Hotel Storage room.
                        tr
                            td.title-strong 4
                            td(width='100%')
                                div.title-p In case if not departure from number after checkout time without coordination with administration, the administration of hotel has the right to carry out eviction even at my phisical absence.
                        tr
                            td.title-strong 5
                            td(width='100%')
                                div.title-p Early departure is possible without penalty charge only at the prior notification of administration at 24 hours. At departure from number of earlier named date without notice, the amount of daily accomodation "penalties" are taken off.
                        tr
                            td.title-strong 6
                            td(width='100%')
                                div.title-p Accomodation with animals is forbidden by administration.
                        tr
                            td.title-strong 7
                            td(width='100%')
                                div.title-p Smoking in the rooms is forbidden.
            table.table
                tr
                    td(width='100%')
                        div.td-content Подпись
                        div.flex-row
                            div.td-content Signature
                            div.td-content.max-width
                                div.line