@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

body,
html {
    min-height: 100%;
    width: 100%;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.register-card-template {
    border: 1px solid black;
    width: 1000px;
    padding: 0px 65px 15px 65px;
}

.register-card-header {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-card-header > img {
    height: 100px;
}

h1 {
    font-size: 20px;
    font-weight: 900;
    padding: 3px;
}

.table {
    width: 100%;
}

td {
    padding: 2px;
}

div.td-content {
    font-size: 14px;
    padding: 2px;
    font-weight: 900;
    white-space: nowrap;
}

.max-width {
    width: 100%;
}

.line {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.conditions {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.conditions-container {
    width: 100%;
    padding-top: 5px;
}

.title-p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.conditions-container-right .title-p {
    padding-top: 9px;
    padding-bottom: 9px;
}

.conditions-container-left {
    padding-right: 20px;
}

.title-strong {
    padding-top: 10px;
    font-weight: 900;
    font-size: 14px;
}
